* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #444;
    line-height: 1.5em;
}

nav,
footer {
    padding: 1%,0;
    background-color: #aaa;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
}


h2 {
   font-size: 2.3rem;
}

h3 {
    padding-bottom: 5%;
    font-size: 2rem;
}

p {
    text-align: left;
    padding: 3%;
}


/*NAV*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

div#nav-logo {
    display: inline-block;
    width: 30%;
    text-align: center;
    margin-top: 15px;
    font-size: 2.5rem;

}

ul#nav-links {
    float: right;
    margin-top: 25px;
    margin-right: 40px;
}

ul#nav-links li{
    display: inline-block;
    margin-left: 32px;
}

ul#nav-links li a{
    text-decoration: none;
    color: black;
}

/*HEADER*/
header {
    font-family: 'Archivo Narrow', sans-serif;
    padding: 12% 0;
    text-align: center
}

section {
    min-height: 200px;
    padding: 6% 0;
    background-color: #bbb;
    margin: auto;
    text-align: center;
}

section:nth-child(even) {
    background-color: #ddd;
}

/*About me section*/

div#profile-deets img {
    display: inline-block;
    border-radius: 50%;
    width: 20%;
}

div#profile-deets p {
    display: inline-block;
    width: 50%;
    padding: 0.5%;
    vertical-align:
}

/*skills section*/

div#skills-img img{
    display: inline-block;
    width: 20%;
}

/*Projects section*/

div#upbeat-atlas-app,
#sustain-app,
#commute-calculator-app {
  margin-top: 10%;
}

div.project-img {
    width: 45%;
    display: inline-block
}

img.project-screenshot{
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

div.project-info {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

div.project-info p {
    vertical-align: top;
}

div.tech-image img {
    width: 10%;
}

button.project-links {
    width: 10%;
    padding: 1%;
    margin-top: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

button.project-links:hover {
    background-color: lightgrey;
    width: 9%;
}

button.project-links a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}




/*contact*/

div#contact-info p {
    margin: auto;
    padding: 1%;
    width: 60%;
    text-align: center;
}

div#social-img {
    width: 15%;
    margin: auto;
}

div#social-img img {
    width: 20%;
}

