* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.5em;
}

nav,
footer {
    padding: 1% 0;
    background-color: #483C46;
    font-family: 'Poppins', sans-serif;
    color: #F4743B;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
}


h2 {
   font-size: 2.3rem;
}

h3 {
    padding-bottom: 5%;
    font-size: 2rem;
}

p {
    text-align: left;
    padding: 3%;
}


/*NAV*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

}

div#nav-logo {
    display: inline-block;
    width: 30%;
    text-align: center;
    margin-top: 15px;
    font-size: 2rem;

}

ul#nav-links {
    float: right;
    margin-top: 25px;
    margin-right: 40px;
}

ul#nav-links li{
    display: inline-block;
    margin-left: 32px;

}

ul#nav-links li a{
    text-decoration: none;
    color: black;
    color: #F4743B;
}

/*HEADER*/
header {
    font-family: 'Poppins', sans-serif;
    padding: 12% 0;
    width: 80%;
    margin: auto;
}

div#header-title {
    margin: auto;
}

p.header-description {
    font-size: 1.5rem;
    padding: 1% 3%;
    color: #483C46;
}

p#header-p {
   line-height: 3.7rem;
    font-size: 5rem;
    color: #3C6E71
}

p#header-p span {
    color: #F4743B;
    font-size: 10rem;
    z-index: -1;
    position: absolute
}

section {
    min-height: 200px;
    padding: 6% 0;
    background-color: #bbb;
    margin: auto;
    text-align: center;
}

section:nth-child(even) {
    background-color: #ddd;
}

/*About me section*/

section#about-me-section {
    background-image: url(images/ContourBackground.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: color-burn;
    color: #483C46;
}

div#profile-img{
    display: inline-block;
    width: 40%;
}

div#profile-img img {
    width: 80%
}

div#profile-deets {
    display: inline-block;
    width: 40%;
    padding: 0;
}

/*skills section*/

section#skills-section {
    background-color: #DEB841;
}

div#skills-img img{
    display: inline-block;
    width: 20%;
}

/*Projects section*/

div#upbeat-atlas-app,
#sustain-app,
#commute-calculator-app {
  margin-top: 10%;
}

div.project-img {
    width: 45%;
    display: inline-block
}

img.project-screenshot{
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

div.project-info {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

div.project-info p {
    vertical-align: top;
}

div.tech-image img {
    width: 10%;
}

button.project-links {
    width: 10%;
    padding: 1%;
    margin-top: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

button.project-links:hover {
    background-color: lightgrey;
    width: 9%;
}

button.project-links a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}




/*contact*/



div#contact-info p {
    margin: auto;
    padding: 1%;
    width: 60%;
    text-align: center;
}

div#social-img {
    width: 15%;
    margin: auto;
}

div#social-img img {
    width: 20%;
}

